<div style="width: 30%; padding: 4rem">
  <div class="card card--secondary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident fugiat
      suscipit nesciunt officia temporibus in, pariatur sapiente, saepe quo
      tempore labore animi quaerat assumenda doloribus asperiores id esse
      aliquid! Officiis voluptatibus labore eligendi, ipsum dicta temporibus
      neque est harum veritatis?
    </div>
  </div>
</div>
