<div style="padding: 5rem">
  <div class="card testimonial">
    <div class="grid grid--1x2">
      <div class="testimonial__image">
        <img src="images/testimonial.jpg" alt="A happy customer" />
        <span class="icon-container icon-container--accent">
          <svg class="icon icon--small icon--white">
            <use xlink:href="images/sprite.svg#quotes"></use>
          </svg>
        </span>
      </div>
      <div>
        <blockquote class="quote">
          <p class="quote__text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore
            quibusdam fugiat ad optio consequuntur animi ullam accusantium
            quaerat numquam iste tenetur, necessitatibus natus, fuga eligendi
            quae. Dolore tenetur magnam temporibus fuga vitae, laudantium
            commodi ducimus ullam voluptates aspernatur eum numquam enim eos
            architecto pariatur ex odio esse. Perferendis, error mollitia!
          </p>
          <footer>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary quote__line">
                  <use xlink:href="images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">Sunny Zutshi</h3>
                <p class="quote__company">FoggyHost ceo</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
